<h1>Please edit your current equipment</h1>

<h2>Your current saved equipment:</h2>

<div class="grid-container">
  <div class="grid-x grid-padding-x small-up-2 medium-up-3">
    <div class="cell" ng-repeat="userEquipment in userEquipments">
		<div class="card">
			<div class="card-section">
				{{userEquipment.name}}
				<!-- make a directive to add confirmation to equipment removal -->
				<a href="" ng-click="removeEquipmentFromUser(userEquipment.id)">x</a>
			</div>
		</div>
	</div>
</div>
<div class="formWrapper">
	<form ng-submit="addEquipmentToUser()" name="Equipment">
		<fieldset class="fieldset">
			<legend>Please pick what equipment you have access too.</legend>
			<div class="grid-container">
  				<div class="grid-x grid-margin-x small-up-2 medium-up-3">
					<div class="cell inputContainer" ng-repeat="equipment in equipments">
						<input class="equipmentCheckbox" 
								id="{{equipment.name}}" 
								type="checkbox"
								ng-init="selected[$index]=false" 
								ng-model="selected[$index]" 
								ng-true-value="{{equipment}}">
						<label for="{{equipment.name}}" class="equipmentCheckboxLabel">
							<span class="inputName">
								{{equipment.name}} 
							</span>
							<span class="inputDescription">
								{{equipment.description}}
							</span>
						</label>
					</div>
				</div>
			</div>
		</fieldset>
		<input class="button large expanded no-animate" type="submit">
	</form>
</div>