<h1>Please pick your equipment</h1>

<h2>You currently have:</h2>
<ul>
	<li ng-repeat="userEquipment in userEquipments">
		{{userEquipment.name}}
	</li>
</ul>

<p>Please pick what equipment you have access too.</p>
<form ng-submit="addEquipmentToUser()" name="">
	<p ng-repeat="equipment in equipments">
		<input type="checkbox" ng-init="selected[$index]=false" ng-model="selected[$index]" ng-true-value="{{equipment}}">
		<label>{{equipment.name}} - {{equipment.description}}</label>
	</p>
	<input type="submit">
</form>

{{selected}}