<div class="page-wrapper" ng-switch="navigator">
	<div ng-switch-when="start" class="page">
		<h1>Let's get started</h1>

		<p>What part of the body, if any, would you like to focus on today?</p>

		<div ng-repeat="concentration in concentrations">
			<a ng-click="selectConc(concentration)" class="button expanded">
				{{concentration.name}}
			</a>
		</div>

		<div>
			<ul>
				<li ng-repeat="selected in selectedConcentration">
					{{selected.name}} - <a ng-click="delete(selected.id)">delete</a>
				</li>
			</ul>
		</div>	

		<a ng-click="navigatorSwitch('parameters')" class="button"> < Next</a>
	</div>


	<!-- workout parameters selection page  -->
	<div ng-switch-when="parameters" class="page box-shadow">
		<h1>Select the difficulty, and length of your workout</h1>
		<div class="formWrapper">
			<fieldset class="fieldset">
				<legend>Workout Difficulty</legend>
				<div class="grid-container">
	  				<div class="grid-x grid-margin-x small-up-3 medium-up-3">
						<div class="cell inputContainer">
							<input type="radio" id="easy" ng-model="difficulty.value" value="easy">
							<label for="easy">
								<span class="inputName">Easy Workout</span>
							</label>
						</div>

						<div class="cell inputContainer">
							<input type="radio" id="standard" ng-model="difficulty.value" value="standard" ng-checked="true">
							<label for="standard">
								<span class="inputName">Standard Workout</span>
							</label>
						</div>

						<div class="cell inputContainer">
							<input type="radio" id="advanced" ng-model="difficulty.value" value="advancedd">
							<label for="advanced">
								<span class="inputName">Advanced Workout</span>
							</label>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
		

		</br>

		<label for="workoutDuration">Length of Workout
			<select name="workoutDuration" ng-model="workoutDuration.time">
				<option value="">No Time Limit</option>
				<option value="15">15 minutes</option>
				<option value="20">20 minutes</option>
				<option value="25">25 minutes</option>
				<option value="30">30 minutes</option>
				<option value="35">35 minutes</option>
				<option value="40">40 minutes</option>
				<option value="45">45 minutes</option>
				<option value="50">50 minutes</option>
				<option value="55">55 minutes</option>
				<option value="60">1 hour</option>
			</select>
		</label>

		<a ng-click="navigatorSwitch('workout')" class="button"> < Next</a>
		<a ng-click="navigatorSwitch('start')" class="button"> Previous ></a>
	</div>

	</br>

	<!-- workout confirmation page -->
	<div ng-switch-when="workout" class="page box-shadow">
		<h1>Confirm Workout</h1>
		<p>You want to work on your <span ng-repeat="selected in selectedConcentration">{{selected.name}}</span>.</p>
		<p>You want a <span>{{difficulty.value}}</span> workout that
			<span ng-if="workoutDuration.time !== ''"> lasts {{workoutDuration.time}} minutes.</span>
			<span ng-if="workoutDuration.time == ''"> has no time limit.</span>
		</p>
		<p>If all that looks good then let's workout!</p>
		<a ng-click="finish()" class="button">Exercise</a>
		<a ng-click="navigatorSwitch('parameters')" class="button"> Previous ></a>
	</div>

	<div ng-switch-when="active" class="page box-shadow">
		<div class="exercise-wrapper" ng-repeat="exercise in filteredExercises | exercise:difficulty.value:workoutDuration.time">
			<div ng-if="exerciseNavigator === $index" class="page">
				<div class="exerciseInfo">
					<h2>{{exercise.name}}</h2>
					<h3>Instructions</h3>
					<p> - {{exercise.description}}</p>
				</div>
				<a ng-click="exerciseSwitch($index)" class="button">Next Exercise</a>
			</div>
			<div ng-show="$last && exerciseNavigator == $index + 1">
				<h2>Workout Complete!</h2>
				<a href="#!/" class="button expanded">Finish</a>
			</div>
		</div>
		
	</div>
</div>




<!-- testing code -->
<!-- <p>Concentration filtered exercises</p>
<ul>
	<li ng-repeat="exercise in exercises">
		{{exercise.name}}
	</li>
</ul>

<p>Concentration and equipment filtered exercises</p>
<ul>
	<li ng-repeat="exercise in exercises | exercise:equipmentIdList:difficulty.value:workoutDuration.time">
		{{exercise.name}}
	</li>
</ul> -->

<!-- <ul>
	<li ng-repeat="equipment in userEquipments">
		{{equipment.name}}
	</li>
</ul> -->

