/*variables*/
$primary: #1779ba;
$secondary: #767676;
$success: #3adb76;
$warning: #ffae00;
$alert: #cc4b37;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;
$global-margin: 1rem;
$global-padding: 1rem;

html {}

body {
	height: 100vh;
	/*border: 1px solid black;*/
}

html, body {}

nav {
	position: relative;
	z-index: 1;
	background-color: $white;
}

/*Form and button styling*/
.inputContainer {
	margin-bottom: $global-margin;
}

.inputContainer label {
	color: $white;
	padding: $global-padding;
	background-color: $primary;
	height: 100%;
	width: 100%;
	margin: 0;
}

.inputContainer label span {
	display: block;
}

.inputContainer label .inputName {
	font-weight: bold;
}

.inputContainer label .inputDescription {
	color: $light-gray;
}

.formWrapper input[type="checkbox"] {
	display: none;
}

.formWrapper input[type="checkbox"]:checked + label {
	background-color: $secondary;
}

.formWrapper input[type="radio"] {
	display: none;
}

.formWrapper input[type="radio"]:checked + label {
	background-color: $secondary;
}

.page-wrapper{
	position: relative;
	height: 100vh;
}

.exercise-wrapper {
	position: relative;
}


// animation stuff
.no-animate {
	transition: none !important;
}

.ng-animate {
	transition: all 0.5s;
}

.ng-leave {
	transform: translate(0vw);
	// position: absolute;
}

.ng-enter {
	transform: translate(-100vw);
	// position: absolute;
}

.page.ng-leave.ng-leave-active,
.view.ng-leave.ng-leave-active {
  transform: translate(-100vw);
  // position: relative;
}

.page.ng-enter.ng-enter-active,
.view.ng-enter.ng-enter-active {
  transform: translate(0vw);
  // position: relative;
}

.view-container {
	position: relative;
}

.view {
	position: absolute;
	background-color: $white;
	min-height: 100vh;
	width: 100%;
	left: 0;
	right: 0;
	
}

.page {
	position: absolute;
	background-color: $white;
	min-height: 100vh;
	width: 100%;
	margin-right: -20px;
	padding: 20px;
	padding-right: 20px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.box-shadow {
	box-shadow: 5px 5px 10px rgba(214, 214, 214, 1);
}

.exerciseInfo {
	background-color: $light-gray;
}