<!DOCTYPE html>
<html>
  <head>
    <title>Workout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="workout">
    <ui-view></ui-view>
  </body>
</html>
