<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Workout App" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="workout">
    <div class="grid-container">
      <div ng-include="'views/_nav.html'"></div>
      <div class="grid-x grid-padding-x text-center">
          <div class="cell">
            <ui-view></ui-view>
          </div>
      </div>
    </div>
  </body>
</html>
